<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dev-Square</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Layout CSS -->
  <link id="theme-css" rel="stylesheet" type="text/css" href="assets/theme/theme-blue-grey.css">
  <link id="layout-css" rel="stylesheet" type="text/css" href="assets/layout/css/layout-blue-grey.css">

<link rel="stylesheet" href="styles.df14cec25ae9cbd5095f.css"></head>
<body>
    <app-root>
        <div class="splash-screen">
            <div class="splash-loader">
                <img src="assets/layout/images/logo-loading.png">
            </div>
        </div>
    </app-root>
<script src="runtime-es2015.02aa7af36fce69ef3f8c.js" type="module"></script><script src="runtime-es5.02aa7af36fce69ef3f8c.js" nomodule defer></script><script src="polyfills-es5.931741b61ddc0f45dec8.js" nomodule defer></script><script src="polyfills-es2015.20e23d67af6a0b0f26e5.js" type="module"></script><script src="scripts.61311a00e6aa800e1522.js" defer></script><script src="main-es2015.aa3a0467e015ddd2f1a4.js" type="module"></script><script src="main-es5.aa3a0467e015ddd2f1a4.js" nomodule defer></script></body>
</html>
